/*Site-wide styles*/

*{
    margin: 0;
    padding: 0;

    font-family: "Rubik", sans-serif;
}

body.dark {
    background-color: #0f0516; ;
}

/*Background - specifically for home page section*/
.background {
    height: 100vh;
    width: 100%;
    background: #dfd1ed;
    /* background: linear-gradient(#29054e 6%, rgb(255, 255, 255)); */
    background-size: cover;
    justify-content: center;
    align-content: center;
}

.background.dark {
   background: linear-gradient(#2b104f 6%, #0f0516 100%);
}

/*Home Page*/
#homePage {
    text-align: center;
    justify-self: center;
    background-color: #fff;
    min-width: 500px;
    width: 50%;
    height: 70%;
    border: #351d47 3px solid;
    border-radius: 15px; 
}

#homePage.dark {
    background-color: #140b1e;
    color: #fff;
    border:#b596d7 5px solid;
    border-radius: 10px; 
}

/*Home Page text*/
#homeText {
    position:relative;
    top:18%;
}

/*Home page title*/
#homePage h1 {
    font-size: 100px;
    color: #5703aa;
}

#homePage h1.dark {
    color: #b17dff ;
}

#homePage h2 {
    font-weight: lighter;
    font-size: 50px;
}

/* Homepage description*/
#homePage p {
    color: #000000;
    font-weight: 300;
}
#homePage p.dark {
    color: #ffffff;
}

#homeLocation {
    font-size: 20px;
}
#homeJob {
    font-size: 25px;
    margin-bottom: 5px;
}

/*Homepage divider*/
#homePageDescription {
    padding-top: 10px;
}

/*Window Bar*/

#windowBar{
    display:flex;
    background: #9a9191;
    position:relative;
    top:0;
    height:8%;
    width:100%;
    border-bottom: #351d47 3px solid;
    border-top: #9a9191 3px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*Window Bar*/
.circle{
    height:88%;
    width:3%;
    align-self: center;
    border-radius: 50%;
    margin-left: 2px;
    margin-right: 5px;
    min-width: 25px;
    min-height: 25px;
}

#redButton{
    background:#b36c6b;
}
#yellowButton{
    background:#d1ca90;
}
#greenButton{
    background:#7ebe88;
}

/*Buttons*/

#Buttons {
    display:flex;
    justify-self: center;
    position: relative;
    width: 60%;
    top: 27%;
    justify-content: space-between;
    gap: 20px;
}

/*Link buttons*/
.linkButtons {
    bottom: 20%;
    width: 60px;
    height: 60px;
}
