/* All solid color icons were sourced and created by Freepik - Flaticon: www.flaticon.com*/

/*Site-wide styles*/
html {
  scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

body {
    background-color: #060518 ;
}

/*Section scroll formatting*/
section {
    scroll-margin-top: 64px;
}

/*Background - specifically for home page section*/
.background {
    height: 100vh;
    width: 100%;
    background: #060518;
    background-size: cover;
    justify-content: center;
    align-content: center;
}

.background.dark {
  background: #192a3c;
}

/*--------Home Page--------------*/
#homePage {
    text-align: center;
    justify-self: center;
    align-content: center;
    background-color: #060518;
    color: #fff;
    width: 50%;
    max-height: 600px;
    height: 70%; 
    margin-top: 10vh;
}

#homePage.dark {
    background-color: #140b1e;
    color: #fff;
    border:#b596d7 5px solid;
    border-radius: 10px; 
}

/*Home page title*/
#homePage h1 {
    font-size: 150px;
    color: #3143cc;
    justify-self: center;
}

#homePage h1.dark {
    color: #b17dff ;
}

#homePage h2 {
    font-weight: lighter;
    font-size: 50px;
}

/* Homepage description*/
#homePage p {
    color: #ffffff;
    font-weight: 300;
}
#homePage p.dark {
    color: #ffffff;
}

#homeLocation {
    font-size: 20px;
}
#homeJob {
    font-size: 25px;
    margin-bottom: 5px;
}

/*Homepage divider*/
#homePageDescription {
    padding-top: 10px;
}

/*Buttons for homepage*/
#buttonContainer {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
}


.linkContainer {
    text-decoration: none;
    border: #d4d8da 3px solid;
    border-radius: 15px; 
    background: #d4d8da;
    color: #fff;
    width: 12vw; 
    min-width: 50px; 
    max-width: 60px; 
    aspect-ratio: 1 / 1; 
    align-content: center;
}

/*Specifically account for linkedIn button weird spacing*/

#linkedInIcon {
    transform: translate3D(0,1px,0);
}

.linkContainer:hover {
    transform: translate3D(0,-1px,0) scale(1.08);
    transition: transform 0.3s ease;
    background-color: #3143cc;
    border: #3143cc 3px solid;
}

.linkContainer:hover #linkedInIcon {
    transform: translate3D(0,2px,0);
}

.linkContainer:hover .linkButtons {
    filter: brightness(100%);
}

.linkButtons {
    filter: brightness(0);
    width: 90%;
    aspect-ratio: 1/1;
}

/*--------Navigation Bar--------------*/

/*Navigation -> basically element that holds navigation links*/
#navContainer {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;
    display:flex;
    padding: padding 2% 6%;
    justify-self: space-between;
    align-items: center;
    background-color:#060518 ;
}

/* #navContainer.dark {
    background-color:#08101ace;
} */

/*Images in nav bar*/
nav #navSun{
    width: 50px;
    padding-left: 15px;
    padding-top: 10px;
}

#homeIcon {
    width: 50px;
    aspect-ratio: 1/1;
    padding-left: 15px;
    padding-top: 10px;
}

#homeIcon:hover {
    transform: translate3D(0,-1px,0) scale(1.08);
    transition: transform 0.3s ease;
}


/*Navigation bar*/
.navBar {
    flex: 1;
    text-align: right;
    margin-right: 10px;
}

/*Navigation Links*/
.navBar ul li {
    padding-top: 10px;
    list-style:none;
    display: inline-block;
    padding: 10px 4px;
}

.navBar ul li:hover {
    transform: translate3D(0,-1px,0) scale(1.08);
    transition: transform 0.3s ease;
}

/*The hyperlink aspect of each item*/
.navBar ul li a{
    color:#060518;
    font-weight: 300px;
    text-decoration: none;
    font-size: 15px;
    background-color:#d4d8da ;
    border:#d4d8da 5px solid;
    border-radius: 50px; 
    padding: 5px 10px;
}

/* Hover over hyperlink */
.navBar ul li a:hover {
    color: #fff;
    background-color: #3143cc;
    border:#3143cc 5px solid;
    transition: filter 0.3s ease;
}

/*Sections*/

.portfolioSection {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    margin-top: 30px;
}
.secondarySection {
    background: #060518;
}

.gradientBG {
    background: linear-gradient(to right, #091641, #31478f);
}

/*Sections Header 1*/
.sectionHead1 {
    text-align: center;
    font-size: 75px;
    padding-top: 10px;
    color: #ffffff;
    margin-bottom: 20px;
}
.sectionHead1.dark {
    color: #eedbff ;
}

/*------------About me------------------*/

#aboutMeSection {
    height: 100vh;
    width: 100%;
    background-size: cover;
    justify-content: center;
    align-content: center;
}
#aboutMeContainer {
    justify-self: center;
    justify-content: center;
    background-color: #fff;
    width: 80%;
    min-height: 350px;
    scroll-margin-top: 150px;
    border: #ffffff 5px solid;
    border-radius: 10px; 
    margin-bottom: 10px;
    display: flex;
}

#aboutMePhotoTempHold {
    width: 20%;
}

.aboutMeBio {
    width: 90%;
    text-align: center;
    padding: 3% 0%;
    font-size: 150%;
}
/*------------Experience Section------------------*/
#experienceSection {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

#experienceContainer {
    display: flex;
    flex-direction: column; /* Stacks entries vertically */
    flex-grow: 1;           /* Fills the remaining space under the H1 */
    width: 80%;
    min-height: 500px;
    height: 80%;
    gap: 5%;
    justify-self: center;
    align-self: center;
}

.expEntry {
    background-color: #fff;
    border: #ffffff 5px solid;
    border-radius: 10px; 
    height: 30%;
    min-width: 370px;
    flex: 1;                
    width: 100%;
    align-self: center;
    justify-self: center;
    box-sizing: border-box;
    margin: 10px 10px;
    display: flex;
}

.expLogo {
    max-width: 150px;
    aspect-ratio: 1/1;
    width: 15%;
    /* height: 80%; */
    max-height: 140px;
    align-self: center;
    padding-left: 2%;
    padding-right: 2%;
}

.jobContainer{
    justify-items: left;
    align-content: center;
    width: 20%;
    margin-right: 3%;
    min-width: 150px;
}

.jobContainer h2 {
    font-size: 25px;
    width: 100%;
}
.expJobDetail {
    margin-top: 8px;
    font-size: 15px;
    width: 100%;
    font-weight:400;
    color: #000000;
}

.expJobLocation {
    margin-top: 8px;
    font-size: 20px;
    width: 100%;
    font-weight:500;
    color: #3143cc;
}

.expEntry .jobDescription {
    align-content: center;
    width: 65%;

}

.jobDescription ul {
    width: 100%;
    align-content: center;
}

.jobDescription ul li{
    height: 30%;
    padding: 1% 3% 1% 1%;
    font-size: 100%;
    font-weight: 300;
}

/*------------Skills Section------------------*/
#skillsSection h3 {
    color: #ffffff;
    font-weight: 400;
    font-size: 30px;
    justify-self: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
    width: 70%;
    align-self: center;
    justify-self: center;
}

.skillEntry {
    width: 10%;
    min-width: 103px;
    max-width: 126px;
    aspect-ratio: 1/1;
    background-color: #fff;
    border: #ffffff 5px solid;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
}

.skillEntry:hover {
    transform: translate3D(0,-1px,0) scale(1.05);
    transition: transform 0.3s ease;
}

.skillIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 80%;
    aspect-ratio: 1/1;
}

.skillText {
    color: #000000;
    font-size: 120%;
    justify-self:center;
    margin-top:5px;
    font-weight: 300;
}

/*------------Project Section------------------*/
#projectsSection {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#projectContainer {
    width: 90%;
    height: 700px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-self: center;
}

.projectEntry {
    background-color: #fff;
    border: #ffffff 5px solid;
    border-radius: 10px; 
    flex-basis: 48%;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 20px;
}

.projectEntry h1 {
    text-align: center;
    padding-top: 2%;
}

.projectEntry h2 {
    text-align: center;
    padding-bottom: 2%;
    font-weight: 400;
    color:#3143cc;
}

.projectDesc {
    text-align: center;
    padding: 1% 3%;

}

.projectDuration {
    text-align: center;
    color:#3143cc;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 500;
    font-size: 125%;
}

.projectImages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.projectSkillsIncluded{
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-self: center;
    justify-self: center;
    gap: 4%;
}

.projectSkillEntry {
    background:#3143cc;
    color: #fff;
    border: #3143cc 5px solid;
    border-radius: 10px;
    font-size: 25px;
}

.requestButton {
    display: inline-block;
    margin-top: 20px;
    color:#060518;
    font-weight: 300px;
    text-decoration: none;
    font-size: 25px;
    background-color:#d4d8da ;
    border:#d4d8da 5px solid;
    border-radius: 50px; 
    padding: 5px 10px;
}

.requestButton:hover{
    color: #fff;
    background-color: #3143cc;
    border:#3143cc 5px solid;
    transition: filter 0.3s ease;
}

/*------------Resume Section------------------*/
#resumeBlock {
    border: #ffffff 20px solid;
    border-radius: 10px; 
    justify-self: center;
    width: 50%;
    min-width: 300px;
    height: auto;
}
/*Resume PDF viewer*/
iframe {
    justify-self: center;
    width: max-content;
    height: 100%;  
    aspect-ratio: 1 / 1;    
    border: none; 
}
